<!DOCTYPE html>
<html>
<head>
  <title>P,R,S - User Details</title>
  <link rel="stylesheet" href="styles/style.css">
 </head>

<body>
  <% include global/header %>

<% if (duplicate) { %>
<div id="feedback2" class="visible">
  <p>Username already exists!</p>
</div>
<% } %>

<% if (incomplete) { %>
<div id="feedback" class="visible">
  <p>Enter all information!</p>
</div>
<% } %>

  <div id="enter_name">
    <%if(newUser){%>
    <h2>New User</h2>
    <form action ="/users" method = "post">
      Username: <input type = "text" name = "username"><br>
      Password: <input type = "text" name = "password"><br>
      First Name: <input type = "text" name = "firstname"><br>
      Last Name: <input type = "text" name = "lastname"><br>
      <button type="submit" id = "enter_name_button">Create account</button>
    </form>
    <%}%>
    <%if(!newUser){%>
    <h2><%=user.name%></h2>
    <h3>Created: <%=user.created%></h2>
    <h3>Last updated: <%=user.lastUpdated%></h2>
    <form method = "get">
      Username: <input type = "text" name = "username" value="<%=user.name%>"><br>
      Password: <input type = "text" name = "password" value="<%=user.password%>"><br>
      First Name: <input type = "text" name = "firstname" value="<%=user.first%>"><br>
      Last Name: <input type = "text" name = "lastname" value="<%=user.last%>"><br>
      <button type="submit" formaction ="/users/<%=user.name%>" id = "enter_name_button">Edit account</button>
      <button type="submit" formaction ="/users/<%=user.name%>/delete" id = "delete_button">Delete account</button>
    </form>
    <%}%>

  </div>
  <footer>
    Brought to you by the cool kids of Software Engineering - Fall, 2018.
  </footer>
  <script src="scripts/scripts.js"></script>
 </body>
</html>
